* {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
body {
  height: 100%;
  min-height: 500px;
  position: relative;
}

canvas {
  border: 3px solid rgb(100, 100, 100);
}

#help {
  width: 200px;
  font-size: 0.8rem;
  border: 2px solid rgb(180, 180, 180);
  background-color: white;
  position: absolute;
  float: right;
  right: 30px;
  bottom: 30px;
}
#help ul {
  margin: 1rem;
}
#help li {
  margin: 0.5rem 0;
}

